  
  body{
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  }
  .container{
    text-align: center;
  }
  #welcomeComment{
    text-align: center;
    font-size: 50;
    color: white;
    width: 300px;
    margin: 2px;
  }
  #enterButton{
    width: 100px;
    font-size: 25px;
    border-style:none;
    border-radius:5px;
  }
